html {
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
}

img {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 1rem #B0B557
}

div {
    color: white;
}